<%- message = flash.alert || flash.notice -%>
<% if message.present? %>
  <%- notice = flash.notice.present? -%>
  <div class="hidden fixed inset-0" data-controller="alert"
       data-transition-enter="transition ease-in duration-100"
       data-transition-enter-start="transform opacity-0 translate-y-[-1/2] scale-95"
       data-transition-enter-end="transform opacity-100 translate-y-0 scale-100"
       data-transition-leave="transition ease-out duration-100"
       data-transition-leave-start="transform opacity-100 translate-y-0 scale-100"
       data-transition-leave-end="transform opacity-0 translate-y-[-1/2] scale-95">
    <div class="<%= class_names('alert', 'alert-notice': notice)  %>">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="alert-icon" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <% if notice %>
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
            <% else %>
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-1-10a1 1 0 112 0v4a1 1 0 11-2 0V8zm1-2a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
            <% end %>
          </svg>
        </div>
        <div class="ml-3">
          <p class="alert-message"><%= message %></p>
        </div>
        <div class="ml-auto pl-3">
          <div class="-mx-1.5 -my-1.5">
            <button type="button" data-action="alert#dismiss" class="alert-dismiss">
              <span class="sr-only">Dismiss</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
